<table class="table movietable">
    <tr>
        <td><h3>Details for {{movie.title}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Movie Title</td>
        <td>{{vm.movie.title}}</td>
    </tr>
    <tr>
        <td>Director</td>
        <td>{{vm.movie.director}}</td>
    </tr>
    <tr>
        <td>Release Year</td>
        <td>{{vm.movie.releaseYear}}</td>
    </tr>
    <tr>
        <td>Movie Genre</td>
        <td>{{vm.movie.genre}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editMovie({id:vm.movie._id})">Edit</a>
</div>